<h1>Editing article list</h1>

<%= render "form", article_list: @article_list %>

<br>

<div>
  <%= link_to "Show this article list", @article_list %> |
  <%= link_to "Back to article lists", article_lists_path %>
</div>
